<h1><%= controller_name %> > <%= action_name %></h1>
<p>Find me in app/views/<%= controller_name %>/<%= action_name %>.html.erb</p>
<p class="display-4">Display 4</p>
<p class="display-3">Display 3</p>
<p class="display-2">Display 2</p>
<p class="display-1">Display 1</p>
<p class="headline">Headline</p>
<p class="title">Title</p>
<p class="subheading">Subheading</p>
<p class="body-2">Body 2</p>
<p class="body-1">Body 1</p>
<p class="caption">Caption</p>
<p class="button">Button</p>

<script>
  $('.ui.sidebar')
      .sidebar('toggle')
  ;
</script>
